@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

* {
  font-family: "Gowun Dodum", sans-serif;
}

body,
h1,
h3 {
  margin: 0px;
  padding: auto;
}

body {
  min-width: fit-content;
  background-color: #61bfad;
  color: #f9f7e8;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  font-style: oblique;
}

h3 {
  font-size: 20px;
  font-weight: 350;
  margin-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
}

.career-text {
  font-size: 16px;
  font-weight: 350;
}

.text {
  font-size: 13px;
  line-height: 16px;
  color: rgb(35, 86, 95);
}

.mainbox {
  width: 610px;
  padding: 30px;
  margin: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.title-box {
  text-align: right;
}

section {
  margin-bottom: 24px;
}

.float-wrap {
  overflow: hidden;
}

.title-text {
  font-size: 15px;
  font-weight: bold;
}

.year-text {
  font-size: 11px;
  font-weight: bold;
  color: #282828;
  float: right;
}

.desc-text {
  font-size: 9px;
}

.desc-subtext {
  font-size: 9px;
  color: #282828;
  padding-left: 16px;
}

footer {
  text-align: center;
  background-color: #f9f7e8;
  padding: 20px;
  font-size: 12px;
  color: #61bfad;
}
